<div>
    <div class='policyHeader'>
        <div class=''>
            <img [src]="PoliciesMenu" class='PoliciesMenu'>
        </div>
        <span>Policies</span>
        <label>
            <img [src]="PoliciesSearch" class='search'>
            <input type="text" placeholder="Search">
        </label>
        <div class='rightDiv'>
            <img [src]="help" class="help">
            <img [src]="export" class="export">
            <img [src]="import" class="import">
            <button class='create' [style.background-image]="'url(' + Create + ')'">Create</button>
        </div>
    </div>
    <div class='policyBody'>
    </div>
</div>
